*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    font-family: sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 20px; */
}
section{
    padding: 0 50px;
}
/* #main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: 1200px;
    padding: 20px;
} */


header ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
    list-style: none;
    height: 70px;
}

header li{
    /* height: 50px; */
    margin-top: 30px;
}

header a{
    height: 100%;
    text-decoration: none;
    padding: 15px;
    /* background-color:white; */
    color:black;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0 10px;
    border: 2px solid rgb(246, 231, 144);
    border-radius:10px ;
    /* z-index: 999; */
    /* border-radius:50px ; */
}

.nav-pills{
    margin: 20px 0;
}

.brand{
    margin-right: auto;
    margin-left: 0;
}
.brand a{
    border: none;
    font-size: 40px;
    font-weight: bold;
}
.brand span{
    color: rgb(243, 206, 44);
}

header .nav-link:hover{
    background-color: #f7ebd2;
}

.sidebar{
    position: fixed;
    display:none;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 400px;
    flex-direction: column;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: rgb(248, 245, 232);
}

.sidebar .nav-link{
    margin: 0 30px;
    border: none;
}

.brands a{
    border: none;
}

.hide{
    display: none;
}

.hero{
    background-color:#dac0775f ;
    /* padding: 50px 0; */
    /* height: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.herobar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px 0; */
}
.herobar h1{
    font-size: 3rem;
    color: rgb(49, 48, 48);
    margin: 20px 0;
}
.herobar h4{
    font-weight: lighter;
    /* text-align: justify; */
    line-height: 1.6;
    text-align: center;
}
.herobar button{
    margin: 20px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(24, 24, 91);
    color: white;
}

.Property{
    display: flex;
    gap: 22px;
    /* align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
    padding: 50px;
}
.price{
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    border-radius: 10px;
    box-shadow: 0px 8px 20px #f7b90fc4;
    overflow: hidden;
    transition: transform .15s ease;
    flex: 1;
}
.price:hover{
    transform:translateY(-6px);
    box-shadow: 0 14px 28px rgba(129, 127, 238, 0.701); 
}
.price img{
    width: 100%;
    height: 250px;
}
.price-body{
    padding: 15px;
    flex: 1;
}
.pricing h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;

}
.pricing{
    padding: 60px 0;
}
.price h3,a,p,button{
    margin-left:  20px;
    margin-bottom: 10px;
}
.price h3{
    color: rgb(68, 68, 68);
}
.price a{
    text-decoration: none;
    font-weight: bold;
}
.gold a{
    color:#f6b709fe ;
}
.price button{
    padding: 10px;
    color: white;
    background-color: rgb(71, 71, 74);
    border: none;
    border-radius: 5px;
    /* margin-left: 20px; */
}
.price .bed{
    color: rgb(99, 98, 98);
}
.price button:hover{
    background-color: rgb(8, 8, 44);
}

.about-content{
    display: flex;
    gap: 20px;
    padding-top: 30px ;
}
.About{
    background-color: #c39f3d9a;
    margin-bottom: 50px;
    
    
}
.about-image img{
    width: 300px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.about-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-content h3{
    margin-bottom: 20px;
    margin-left: 17px;
}
.about-content p{
    text-align: justify;
    line-height: 1.6;
}
.About span{
    color: rgb(44, 43, 43);
}
.about-txt{
    flex: 1;
}
.Testimonial{
    margin-bottom: 50px;
}
.test-flex{
    display: flex;
    /* gap: 20px; */
}
.section-title{
    margin-bottom: 20px;
}
.test-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.test-form input,textarea{
    padding: 10px;
    transition: transform .30s ease;
    border-radius: 5px;
}
.test-form button{
    padding: 7px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: none;
    display: block;
    margin-top: 40px;
}
.test-form input:hover{
    transform:translateY(-6px);
    border-color: blue;
}
.test-box{
    /* max-width: 400px; */
    background-color:#cbb67a9a ;
    text-align: left;
    padding: 20px;
    margin: 0 15px;
    flex: 1;
}
.test-box .author{
    font-weight: bold;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px 0;
}
.footer{
    background-color:#a6821fe2 ;
}

@media(max-width: 790px){
    .hide{
        display: block;
    }
    .none{
        display: none;
    }
    .Property{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        padding: 20px;
        margin: 0 auto;
    }
    .about-image img{
        width: 100%;
        height: 250px;
    }
    .about-image{
        margin: 0 auto;
    }
    .about-txt{
        margin: 0 auto;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .test-flex{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .test-box{
        width: 100%;
        /* padding: 0; */
        margin: 0;
    }
    .herobar h1{
        text-align: center;
    }
    .herobar{
        padding:40px 0 ;
    }
}
@media(max-width: 950px){
    .price img{
       width: 100%;
       height: 150px;   
    }
    .nav-link{
        font-size: 15px;
        padding: 10px;
    }
    .brand a{
        font-size: 25px;
        margin: 0 10px;
    }
    .herobar h1{
        font-size: 2rem;
        margin: 15px 0;
    }
    .pricing h2{
        font-size: 25px;
    }
    .price-body{
        padding: 15px;
    }
    .price h3,p,a,button{
        margin-left: 10px;
        margin-bottom: 5px;
    }
}



